img:hover {
  cursor: pointer;
}

nav {
  background-color: #117DA1;
  width: 120px;
  padding-top: 55px;
  position: fixed;

  .nav-wrapper {
    width: 100%;

    .nav-item {
      color: white;
      height: 120px;
      width: 100%;

      a {
        color: white;
        font-weight: 700;
        width: 100%;

        img {
          width: 40px;
          height: 40px;
        }
      }

      &:hover {
        background-color: #2495BA;
      }
    }
  }
}

.active {
  background-color: #56D4FE;
}
