<header class="header container-fluid bg-white align-items-center">
  <div class="d-flex">
    <img src="assets/icons/aterise-logo.svg" class="d-block me-2" alt="logo">
    <img src="assets/icons/btp-logo.svg" class="d-block" alt="logo">
  </div>
  <div class="d-flex">
    <img src="assets/icons/question.svg" class="d-block me-4" alt="faq">
    <img src="assets/icons/notification.svg" class="d-block me-4" alt="notification">
    <img src="assets/icons/profile-photo.svg" class="d-block me-4" alt="profile">
    <img src="assets/icons/log-out.svg" class="d-block" alt="log-out" (click)="logOut()">
  </div>
</header>
