img:hover {
  cursor: pointer;
}

nav {
  background-color: #117DA1;
  width: 120px;
  margin-top: 55px;
  position: fixed;

  .nav-wrapper {
    height: 75%;
    margin-top: 24px;
    width: 65%;

    .nav-item {
      color: white;
      height: 120px;

      a {
        color: white;
        font-weight: 700;

        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

.active {
  background-color: red;
}

.wallet-item {
  margin-right: 30px;
}

.logo-border{
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.topup-withdraw-money {
  border: 1px solid #818181;
  border-radius: 6px;
  min-width: 321px;
  height: 30px;
  background-color: #F1F1F1;
}

.topup-withdraw-money .border-center {
  border-right: 1px solid #818181;
  height: 100%;
}

.wallet-items a {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #818181;
}

.topup-money {
  padding-left: 30px;
  &::before {
    content: url(../../../../assets/icons/downloads.svg);
    position: absolute;
    width: 14px;
    height: 16px;
    right: 100px;
  }
}

.withdraw-money {
  padding-left: 30px;
  &::before {
    content: url(../../../../assets/icons/downloads.svg);
    position: absolute;
    width: 14px;
    height: 16px;
    right: 115px;
  }
}
.header-right-margin{
  margin-right: 20px;
}
