<header class="header container-fluid bg-white align-items-center w-100">
  <div class="d-flex justify-content-start">
    <div class="d-flex header-right-margin">
      <img src="assets/icons/aterise-logo.svg" class="d-block me-2" alt="logo">
      <img src="assets/icons/btp-logo.svg" class="d-block" alt="logo">
    </div>
    <div class="logo-border header-right-margin"></div>
    <div class="d-flex button-section header-right-margin">
      <div class="d-flex text-uppercase justify-content-start align-items-center wallet-items">
        <div>
          <a href="platform/individual/wallet" class="text-decoration-none wallet-item position-relative">My balance</a>
        </div>
        <div class="d-flex justify-content-around align-items-center topup-withdraw-money">
          <div class="topup-money position-relative w-50 d-flex justify-content-center">
            <a routerLink="/platform/individual/wallet" class="text-decoration-none">top up</a>
          </div>
          <div class="border-center"></div>
          <div class="withdraw-money position-relative w-50 d-flex justify-content-center">
            <a class="text-decoration-none">withdraw</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="d-flex">
      <div class="d-flex currency-container justify-content-between align-items-center">
        <div class="d-flex me-4">0.00
          <div class="currency ms-1">RUB</div>
          <p class="currency text-lowercase">.sc</p>
        </div>
        <div class="d-flex me-4">0.00
          <div class="currency ms-1">BYN</div>
          <p class="currency text-lowercase">.sc</p>
        </div>
        <div class="d-flex me-4">0.00
          <div class="currency ms-1">USD</div>
          <p class="currency text-lowercase">.sc</p>
        </div>
        <div class="d-flex me-4">0.00
          <div class="currency ms-1">EUR</div>
          <p class="currency text-lowercase">.sc</p>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <img src="assets/icons/question.svg" class="d-block me-4" alt="faq">
      <img src="assets/icons/notification.svg" class="d-block me-4" alt="notification">
      <img src="assets/icons/profile-photo.svg" class="d-block me-4" alt="profile">
      <img src="assets/icons/log-out.svg" class="d-block" alt="log-out" (click)="logOut()">
    </div>
  </div>
</header>

<nav class="h-100 d-flex justify-content-start">
  <div class="d-flex flex-column text-center justify-content-start align-items-center nav-wrapper">
    <div class="d-flex nav-item text-center justify-content-center align-items-center" routerLinkActive="active">
      <a class="d-flex flex-column text-decoration-none justify-content-center align-items-center"
         routerLink="/platform/individual/tokens">
        <img src="assets/icons/tokens.svg" alt="tokens" class="mb-2">
        Bonds
      </a>
    </div>
    <div class="d-flex nav-item text-center justify-content-center align-items-center" routerLinkActive="active">
      <a class="d-flex flex-column text-decoration-none align-items-center" routerLink="/platform/individual/wallet">
        <img src="assets/icons/wallet.svg" alt="wallet" class="mb-2">
        Wallet
      </a>
    </div>
    <div class="d-flex nav-item text-center justify-content-center align-items-center">
      <a class="d-flex flex-column text-decoration-none align-items-center"
         routerLink="/platform/individual/tokens">
        <img src="assets/icons/referrals.svg" alt="referrals" class="mb-2">
        Referrals
      </a>
    </div>
    <div class="d-flex nav-item text-center justify-content-center align-items-center" routerLinkActive="active">
      <a class="d-flex flex-column text-decoration-none align-items-center"
         routerLink="/platform/individual/online-form">
        <img src="assets/icons/online-form.svg" alt="online-form" class="mb-2">
        Online <br> Form
      </a>
    </div>
    <div class="d-flex nav-item text-center justify-content-center align-items-center">
      <a class="d-flex flex-column text-decoration-none align-items-center"
         routerLink="/platform/individual/tokens">
        <img src="assets/icons/early-repayment.svg" alt="early-repayment" class="mb-2">
        Early <br> Repayment
      </a>
    </div>
    <div class="d-flex nav-item text-center justify-content-center align-items-center">
      <a class="d-flex flex-column text-decoration-none align-items-center"
         routerLink="/platform/individual/tokens">
        <img src="assets/icons/secondary-market.svg" alt="secondaryMarket" class="mb-2">
        Secondary <br> Market
      </a>
    </div>
  </div>
</nav>
