.overview-section {
  height: 230px;
  background: linear-gradient(88.67deg, #117DA1 0%, #219967 100%);
}

.overview-icon {
  width: 80px;
  height: 80px;
}

h2 {
  font-size: 36px;
  color: white;
  font-weight: 400;
}

p {
  font-size: 20px;
  color: white;
}
