<section class="d-flex justify-content-around align-items-center overview-section">
  <div class="d-flex align-items-center">
    <img src="assets/icons/usd-rounded.svg" alt="usd" class="overview-icon">
    <div>
      <h2>$83550956</h2>
      <div>Funds raised</div>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <img src="assets/icons/vector.svg" alt="vector" class="overview-icon">
    <div>
      <h2>$3920603</h2>
      <p>Investor income</p>
    </div>
  </div>
  <div class="d-flex align-items-center ">
    <img src="assets/icons/group.svg" alt="group" class="overview-icon">
    <div>
      <h2>11653</h2>
      <p>Investors</p>
    </div>
  </div>
</section>
