<main class="d-flex h-100">
  <section class="log-in-container w-50">
    <h2>Sign Up</h2>
    <p class="log-in-subtitle">Already have an account?<a routerLink="/auth/log-in" class="text-decoration-none">
      Log In </a>
    </p>

    <div class="d-flex w-100  justify-content-between ">
      <div class="registration-items d-flex justify-content-around align-items-center "><p
        class="registration-items-text individual">Individual</p></div>
      <div class="registration-items d-flex justify-content-around align-items-center"><p
        class="registration-items-text business">Business</p></div>
    </div>
    <div class="w-100">
      <div class="country-block">
        <div class="log-in-subtitle-block d-flex justify-content-between">
          <p class="log-in-subtitle">Country of residence</p>
        </div>
        <input class="log-in-large-input" placeholder="Germany">
      </div>

      <div class="log-in-subtitle-block d-flex justify-content-between">
        <p class="log-in-subtitle">Login</p>
      </div>
      <input class="log-in-large-input">

      <div class="d-flex justify-content-between">
        <div class="log-in-subtitle-block password">
          <p class="log-in-subtitle">Password</p>
          <input type="password" class="log-in-large-input">
        </div>
        <div class="log-in-subtitle-block password">
          <p class="log-in-subtitle">Confirm password</p>
          <input type="password" class="log-in-large-input">
        </div>
      </div>

      <div class="log-in-subtitle-block d-flex justify-content-between">
        <p class="log-in-subtitle">Email</p>
      </div>
      <input class="log-in-large-input">

      <div class="d-flex justify-content-between ">
        <div class="log-in-subtitle-block">
          <p class="log-in-subtitle">Phone number</p>
          <input class="log-in-large-input">
        </div>
        <div class="log-in-subtitle-block">
          <p class="log-in-subtitle">Code SMS</p>
          <input class="log-in-large-input">
        </div>
      </div>

      <div class="log-in-btn d-flex justify-content-center align-items-center">Sign Up</div>
    </div>

  </section>
  <section class="image-container w-50 text-center justify-content-center align-items-center d-flex flex-column">
    <img src="assets/icons/auth-icon.svg" alt="auth" class="">
    <h2>The best moment to plant <br> a tree was 20 years ago</h2>
  </section>
</main>

