@import "src/scss/variables";

.nav:first-child {
  position: relative;
  margin-left: 40px;
}

.flex-grow-1 .nav:first-child::before {
  content: '|';
  font-size: 20px;
  color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 1px;
  left: -10px;
}

.nav-link {
  color: rgba(0, 0, 0, 0.4);
}

.sing-in {
  color: #117DA1;
}

.sing-up {
  color: #FFFFFF;
  background-color: #117DA1;
  border: solid 1px #117DA1;
  width: 104px;
  height: 28px;
  border-radius: 15px;
}
