<main class="d-flex h-100">
  <section class="log-in-container w-50">
    <h2>Log In</h2>
    <p class="log-in-subtitle">Don’t have an account yet?<a routerLink="/auth/sign-up" class="text-decoration-none">
      Sign up </a>
    </p>

    <div class="d-flex w-100  justify-content-between ">
      <div class="registration-items d-flex justify-content-around align-items-center" [class.active]="isIndividual"
           (click)="selectIndividual()">
        <p class="registration-items-text individual">Individual</p>
      </div>
      <div class="registration-items d-flex justify-content-around align-items-center" [class.active]="isBusiness"
           (click)="selectBusiness()">
        <p class="registration-items-text business">Business</p>
      </div>
    </div>
    <div class="w-100">
      <form [formGroup]="loginForm">
        <div class="log-in-subtitle-block d-flex justify-content-between">
          <p class="log-in-subtitle">Login</p>
          <a class="text-decoration-none">Forgot login?</a>
        </div>
        <input class="log-in-large-input"
               placeholder="Login"
               formControlName="login">

        <div class="log-in-subtitle-block d-flex justify-content-between">
          <p class="log-in-subtitle">Password</p>
          <a class="text-decoration-none">Forgot password?</a>
        </div>
        <input class="log-in-large-input password"
               type="password"
               placeholder="Password"
               formControlName="password">

        <div class="log-in-subtitle-block d-flex justify-content-between">
          <p class="log-in-subtitle">Code SMS</p>
        </div>
        <div class="d-flex justify-content-between">
          <input class="log-in-small-input"
                 placeholder="SMS Code"
                 formControlName="smsCode">
          <div class="sms-btn d-flex align-items-center justify-content-center">Get SMS</div>
        </div>

        <button class="log-in-btn d-flex justify-content-center align-items-center" (click)="onLogin()">Log in</button>
      </form>
    </div>

  </section>
  <section class="image-container w-50 text-center justify-content-center align-items-center d-flex flex-column">
    <img src="assets/icons/auth-icon.svg" alt="auth" class="">
    <h2>The best moment to plant <br> a tree was 20 years ago</h2>
  </section>
</main>

