<section class="selected-currency">
  <div class="selected-currency-block d-flex w-100 border">

    <div class="selected-currency-more">
      <h3 class="title text-uppercase">More about the chosen currency</h3>
      <div class="d-flex justify-content-between selected-currency-more-block">
        <p class="selected-currency-more-text">Total in the wallet</p>
        <p class="sum usd-white">0.00 USD.sc</p>
      </div>
      <div class="d-flex justify-content-between selected-currency-more-block">
        <p class="selected-currency-more-text">Free balance</p>
        <p class="sum">0.00 {{selectedCurrency.name}}</p>
      </div>

    </div>


    <div class="selected-currency-top-up">
      <h3 class="title text-uppercase">top up in the chosen currency</h3>

      <div class="d-flex justify-content-between">
        <p class="top-up-subtitle d-flex align-items-center">Type the amount you want to top up
          ({{selectedCurrency.name}})</p>
        <form [formGroup]="valueForm">
          <input type = "text"
                 class = "amount"
                 placeholder = "10000"
                 formControlName = 'value'>
        </form>
      </div>

      <div class="d-flex">
        <p class="title-payment-method">Choose payment method</p>
        <img src="assets/icons/question-icon.svg" alt="question" class="title-payment-img">
      </div>

      <div class="position-relative mb-3">
        <img src="assets/icons/input-card.svg" alt="card" class="card-visa-mastercard">
        <input type="text" class="w-100 payment-method" placeholder="Credit card">
      </div>
      <div class="position-relative  w-100">
        <img src="assets/icons/bank-icon.svg" alt="bank" class="payment-bank">
        <input type="text" class="w-100 position-relative payment-method m-0 payment-method-bank"
               placeholder="Bank transfer">
      </div>

      <p class="text-commission">Banks may apply additional commission for the transfers</p>
      <div class="d-flex justify-content-between">
        <p class="total-sum-text">Total with commission</p>
        <p class="total-sum"><span>{{totalValue | number: "0.2"}} </span>{{selectedCurrency.name}}</p>
      </div>
    </div>
  </div>
</section>
