<main>
  <section class="registration-faq-page">
    <h2 class="text-center">Get tokens on investment platform</h2>
    <div class="d-flex justify-content-between faq-cards-container">
      <div class="faq-card">
        <img class="faq-card-img" src="assets/icons/registration-faq-icon.svg" alt="Registration">
        <h3 class="faq-card-title">Registration</h3>
        <p class="faq-card-subtitle">Register either individual or business account on the platform and create the
          virtual wallet.</p>
      </div>
      <div class="faq-card">
        <img class="faq-card-img" src="assets/icons/verification-faq-icon.svg" alt="Verification">
        <h3 class="faq-card-title">Verification</h3>
        <p class="faq-card-subtitle">Go through verification process of the provided data.</p>
      </div>
      <div class="faq-card">
        <img class="faq-card-img" src="assets/icons/top-up-faq-icon.svg" alt="Top up">
        <h3 class="faq-card-title">Top up</h3>
        <p class="faq-card-subtitle">Top up your virtual wallet using credit card or swift transaction.</p>
      </div>
      <div class="faq-card">
        <img class="faq-card-img" src="assets/icons/purchase-faq-icon.svg" alt="Purchase">
        <h3 class="faq-card-title">Purchase</h3>
        <p class="faq-card-subtitle">Choose a company, enter required amount of tokens you want to buy and press
          “Buy”.</p>
      </div>
    </div>
    <div class="login-btn d-flex justify-content-center align-items-center">
      <a class="login-link text-uppercase text-decoration-none" href="">sign up</a>
    </div>
    <div class="d-flex justify-content-end position-relative">
      <img src="assets/icons/payment-methods-icon.svg" class="available-cards"
           alt="available cards">
    </div>
  </section>
</main>
