html {
  font-size: 14px;
}

html,
body {
  height: 100%;
  background: $brand-primary-lightest;
  font-family: $brand-font;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  transition: padding-top 0.2s;
  overflow: hidden;
  min-height: calc(100vh - 145px);
}
