html {
  font-size: 14px;
}

html,
body {
  height: 100%;
  background: $brand-primary-lightest;
  font-family: $brand-font;
  letter-spacing: -0.05em;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 55px;
  display: flex;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 85px;
  z-index: 1;

  a {
    font-weight: 500;
  }

  .currency-container {
    p {
      margin: 0;
    }
    .currency {
      color: #219967;
    }
  }
}

.main-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  transition: padding-top 0.2s;
  min-height: calc(100vh - 145px);
}

.platform-main-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-left: 120px;
  transition: padding-top 0.2s;
  min-height: calc(100vh - 145px);
}

h2 {
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

input {
  &.ng-invalid.ng-touched,
  &.ng-invalid.ng-dirty {
    border: 2px solid #dc3545;
  }
}

.custom-input {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: rgb(244, 244, 244);
}

.custom-input, .custom-label {
  font-size: 16px;
  transition: .3s ease-in-out;
}

.custom-input:focus + .custom-label,
input.ng-valid + .custom-label {
  font-size: 14px;
  height: 20px;
  top: -10px;
  pointer-events: none;
  background-color: rgb(244, 244, 244);
}

.custom-label {
  height: 50px;
  position: absolute;
  padding: 0 10px;
  top: 0;
  left: 20px;
  color: rgba(0, 0, 0, 0.3);;
  display: flex;
  align-items: center;
  cursor: text;
}

.btn-send-messages {
  width: 320px;
  height: 66px;
  background: #117DA1;
  border-radius: 50px;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  position: relative;
  cursor: pointer;

  & ::before {
    content: url(../assets/icons/message-icon.svg);
    width: 18px;
    height: 14px;
    position: absolute;
    left: 70px;
    bottom: 30px;
  }

  span {
    margin-left: 25px;
  }
}

.form-field {
  position: relative;
  margin-top: 50px;
}

.registration-items {
  background-color: #F1F1F1;
  width: 47%;
  height: 145px;
  border-radius: 15px;
  margin-top: 28px;
  margin-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

  .individual::before {
    content: url(../../../../assets/icons/individual-icon.svg);
    width: 32px;
    height: 40px;
    position: absolute;
    right: 130px;
    top: -5px;
  }

  .business::before {
    content: url(../../../../assets/icons/business_icon.svg);
    width: 32px;
    height: 40px;
    position: absolute;
    right: 130px;
    top: -5px;
  }

  .registration-items-text {
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    position: relative;
    margin-left: 40px;
    margin-bottom: 0;
  }

  &:hover{
    background-color: #E7E7E7;
  }
}


