<section class="token">

  <h2 class="text-center">Tokens</h2>

  <div class="d-flex flex-wrap justify-content-around">
    <div class="token-card p-0">
      <div class="token-card-header d-flex align-items-center">
        Company rated as BB+
      </div>
      <div class="d-flex justify-content-around wrapper-company">
        <a class="company-name text-decoration-none">Company Name</a>
        <a routerLink="/auth/log-in" class="more text-decoration-none">more</a>
      </div>
      <div class="percent text-center">9.60%</div>
      <div class="percent-subtitle text-center">Annual</div>
      <div class="btn-buy d-flex justify-content-center"><a
        class="d-flex justify-content-center align-items-center text-decoration-none text-uppercase"
        routerLink="/auth/log-in">buy</a>
      </div>
      <div class="token-card-footer">Period 44 months - Price 25 USD - Currency USD</div>
    </div>

    <div class="token-card p-0 yellow">
      <div class="token-card-header d-flex align-items-center">
        Company rated as BBB+
      </div>
      <div class="d-flex justify-content-around wrapper-company">
        <a class="company-name text-decoration-none">Company Name</a>
        <a routerLink="/auth/log-in" class="more text-decoration-none">more</a>
      </div>
      <div class="percent text-center">8.25%</div>
      <div class="percent-subtitle text-center">Annual</div>
      <div class="btn-buy d-flex justify-content-center"><a
        class="d-flex justify-content-center align-items-center text-decoration-none text-uppercase"
        routerLink="/auth/log-in">buy</a>
      </div>
      <div class="token-card-footer">Period 44 months - Price 25 USD - Currency USD</div>
    </div>

    <div class="token-card p-0">
      <div class="token-card-header d-flex align-items-center">
        Company rated as BB+
      </div>
      <div class="d-flex justify-content-around wrapper-company">
        <a class="company-name text-decoration-none">Company Name</a>
        <a routerLink="/auth/log-in" class="more text-decoration-none">more</a>
      </div>
      <div class="percent text-center">9.60%</div>
      <div class="percent-subtitle text-center">Annual</div>
      <div class="btn-buy d-flex justify-content-center"><a
        class="d-flex justify-content-center align-items-center text-decoration-none text-uppercase"
        routerLink="/auth/log-in">buy</a>
      </div>
      <div class="token-card-footer">Period 44 months - Price 25 USD - Currency USD</div>
    </div>

    <div class="token-card p-0">
      <div class="token-card-header d-flex align-items-center">
        Company rated as BB+
      </div>
      <div class="d-flex justify-content-around wrapper-company">
        <a class="company-name text-decoration-none">Company Name</a>
        <a routerLink="/auth/log-in" class="more text-decoration-none">more</a>
      </div>
      <div class="percent text-center">9.60%</div>
      <div class="percent-subtitle text-center">Annual</div>
      <div class="btn-buy d-flex justify-content-center"><a
        class="d-flex justify-content-center align-items-center text-decoration-none text-uppercase"
        routerLink="/auth/log-in">buy</a>
      </div>
      <div class="token-card-footer">Period 44 months - Price 25 USD - Currency USD</div>
    </div>

    <div class="token-card p-0 yellow">
      <div class="token-card-header d-flex align-items-center">
        Company rated as BBB+
      </div>
      <div class="d-flex justify-content-around wrapper-company">
        <a class="company-name text-decoration-none">Company Name</a>
        <a routerLink="/auth/log-in" class="more text-decoration-none">more</a>
      </div>
      <div class="percent text-center">8.25%</div>
      <div class="percent-subtitle text-center">Annual</div>
      <div class="btn-buy d-flex justify-content-center"><a
        class="d-flex justify-content-center align-items-center text-decoration-none text-uppercase"
        routerLink="/auth/log-in">buy</a>
      </div>
      <div class="token-card-footer">Period 44 months - Price 25 USD - Currency USD</div>
    </div>

    <div class="token-card p-0">
      <div class="token-card-header d-flex align-items-center">
        Company rated as BB+
      </div>
      <div class="d-flex justify-content-around wrapper-company">
        <a class="company-name text-decoration-none">Company Name</a>
        <a routerLink="/auth/log-in" class="more text-decoration-none">more</a>
      </div>
      <div class="percent text-center">9.60%</div>
      <div class="percent-subtitle text-center">Annual</div>
      <div class="btn-buy d-flex justify-content-center"><a
        class="d-flex justify-content-center align-items-center text-decoration-none text-uppercase"
        routerLink="/auth/log-in">buy</a>
      </div>
      <div class="token-card-footer">Period 44 months - Price 25 USD - Currency USD</div>
    </div>

    <div class="token-card p-0 yellow">
      <div class="token-card-header d-flex align-items-center">
        Company rated as BBB+
      </div>
      <div class="d-flex justify-content-around wrapper-company">
        <a class="company-name text-decoration-none">Company Name</a>
        <a routerLink="/auth/log-in" class="more text-decoration-none">more</a>
      </div>
      <div class="percent text-center">8.25%</div>
      <div class="percent-subtitle text-center">Annual</div>
      <div class="btn-buy d-flex justify-content-center"><a
        class="d-flex justify-content-center align-items-center text-decoration-none text-uppercase"
        routerLink="/auth/log-in">buy</a>
      </div>
      <div class="token-card-footer">Period 44 months - Price 25 USD - Currency USD</div>
    </div>

    <div class="token-card p-0 yellow">
      <div class="token-card-header d-flex align-items-center">
        Company rated as BBB+
      </div>
      <div class="d-flex justify-content-around wrapper-company">
        <a class="company-name text-decoration-none">Company Name</a>
        <a routerLink="/auth/log-in" class="more text-decoration-none">more</a>
      </div>
      <div class="percent text-center">8.25%</div>
      <div class="percent-subtitle text-center">Annual</div>
      <div class="btn-buy d-flex justify-content-center"><a
        class="d-flex justify-content-center align-items-center text-decoration-none text-uppercase"
        routerLink="/auth/log-in">buy</a>
      </div>
      <div class="token-card-footer">Period 44 months - Price 25 USD - Currency USD</div>
    </div>

    <div class="token-card p-0">
      <div class="token-card-header d-flex align-items-center">
        Company rated as BB+
      </div>
      <div class="d-flex justify-content-around wrapper-company">
        <a class="company-name text-decoration-none">Company Name</a>
        <a routerLink="/auth/log-in" class="more text-decoration-none">more</a>
      </div>
      <div class="percent text-center">9.60%</div>
      <div class="percent-subtitle text-center">Annual</div>
      <div class="btn-buy d-flex justify-content-center"><a
        class="d-flex justify-content-center align-items-center text-decoration-none text-uppercase"
        routerLink="/auth/log-in">buy</a>
      </div>
      <div class="token-card-footer">Period 44 months - Price 25 USD - Currency USD</div>
    </div>
  </div>
</section>
