<section class="wallet">

  <h2 class="text-left">Choose the currency for top up</h2>

  <div class="d-flex justify-content-between currency-list">

    <div class="currency-card px-4 py-3" [class.selected]="isCurrencySelected(currencies[0])">
      <div class="card-header">
        <p class="currency-name">RUB.sc</p>
        <span class="currency-value">0.00</span>
      </div>
      <div class="card-border"></div>
      <div class="text-left">
        <p class="total-usd d-flex">0.00</p>
        <div class="top-up-btn d-flex justify-content-center align-items-center" (click)="selectCurrency(currencies[0])">
          <a class="top-up-link text-decoration-none">Top up the wallet</a>
        </div>
      </div>
    </div>

    <div class="currency-card px-4 py-3" [class.selected]="isCurrencySelected(currencies[1])">
      <div class="card-header">
        <p class="currency-name text-right">BYN.sc</p>
        <span class="currency-value text-right">0.00</span>
      </div>
      <div class="card-border"></div>
      <div class="text-left">
        <p class="total-usd d-flex">0.00</p>
        <div class="top-up-btn d-flex justify-content-center align-items-center" (click)="selectCurrency(currencies[1])">
          <a class="top-up-link text-decoration-none">Top up the wallet</a>
        </div>
      </div>
    </div>

    <div class="currency-card px-4 py-3" [class.selected]="isCurrencySelected(currencies[2])">
      <div class="card-header">
        <p class="currency-name">USD.sc</p>
        <span class="currency-value">0.00</span>
      </div>
      <div class="card-border"></div>
      <div class="text-left">
        <p class="total-usd  d-flex">0.00</p>
        <div class="top-up-btn d-flex justify-content-center align-items-center" (click)="selectCurrency(currencies[2])">
          <a class="top-up-link text-decoration-none">Top up the wallet</a>
        </div>
      </div>
    </div>

    <div class="currency-card px-4 py-3" [class.selected]="isCurrencySelected(currencies[3])">
      <div class="card-header">
        <p class="currency-name">EUR.sc</p>
        <span class="currency-value">0.00</span>
      </div>
      <div class="card-border"></div>
      <div class="text-left">
        <p class="total-usd d-flex">0.00</p>
        <div class="top-up-btn d-flex justify-content-center align-items-center" (click)="selectCurrency(currencies[3])">
          <a class="top-up-link text-decoration-none">Top up the wallet</a>
        </div>
      </div>
    </div>

  </div>
</section>

<app-currency-top-up [selectedCurrency]="selectedCurrency"></app-currency-top-up>
<section class="footer">
  <div class=" d-flex justify-content-end" >
    <div class="btn-send-messages d-flex justify-content-center align-items-center"><span>Send us a message</span> </div>
  </div>
</section>
